* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.form_container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.avatar {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
  color: transparent !important;
}

.navbar-custom {
  width: 90%;
  margin: auto;
  padding: 10px;
  background-color: #fff;
}

.navbar-links__container {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-link:nth-child(2) {
  margin-left: auto;
}

.logo {
  text-transform: capitalize;
}

/* bootstrap */
