* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.form_container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.avatar {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  color: transparent !important;
}

.navbar-custom {
  height: inherit;
  padding: 10px;
}

.navbar-custom__container {
  height: 60px;
  width: 100%;
}
.navbar-custom__active {
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  background-color: #fff;
  z-index: 10;
  top: 0;
  position: fixed;
  width: 100%;
}

.navbar-links__container {
  list-style: none;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}

.navbar-link:nth-child(2) {
  margin-left: auto;
}

.logo {
  text-transform: capitalize;
}

/* bootstrap */
